@charset "UTF-8";

/** 
 * Default Linear CSS Drop-Down Menu Theme
 *
 * @file		default.linear.css
 * @name		Default
 * @version		0.1
 * @type		transitional
 * @browsers	Windows: IE7+, Opera7+, Firefox3+
 *				Mac OS: Safari2+, Firefox3+
 *
 * @link		http://www.lwis.net/free-css-drop-down-menu
 * @copyright	2008-2012 Live Web Initiatives, http://www.lwis.net
 *
 */

@import "default.css";


/* -- Base drop-down styling -- */

ul.dropdown {
 width: 760px;

 border-bottom: solid 1px #ccc;
}

	ul.dropdown li {
	 border: none;
	 
	}

	ul.dropdown li.hover,
	ul.dropdown li:hover {
	
	 color: #000;
	}

	/* -- level mark -- */

	ul.dropdown ul {
	width: 760px;
	margin-top: -15px;
	}

		ul.dropdown ul li {
		
		}

		ul.dropdown ul li.hover {
		 margin: 0;
		 border: none;
		}


/* -- Supporting class `dir` -- */

ul.dropdown ul *.dir {
 padding-right: 7px;
 background-image: none;
}