@charset "UTF-8";

/**
 * Horizontal CSS Drop-Down Menu Module
 *
 * @file		dropdown.css
 * @package		Dropdown
 * @version		0.8
 * @type		Transitional
 * @stacks		597-599
 * @browsers	Windows: IE6+, Opera7+, Firefox3+
 *				Mac OS: Safari2+, Firefox3+
 *
 * @link		http://www.lwis.net/free-css-drop-down-menu
 * @copyright	2008-2012 Live Web Initiatives, http://www.lwis.net, http://www.lwis.net
 *
 */

ul.dropdown,
ul.dropdown li,
ul.dropdown ul {
 list-style: none;
 margin: 0;
 padding: 0;
}

ul.dropdown {
	position: relative;
	z-index: 597;
	float: left;
}

ul.dropdown li {
	float: left;
	min-height: 1px;
	vertical-align: middle;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	cursor: pointer;
}

ul.dropdown li.hover,
ul.dropdown li:hover {
	position: relative;
	z-index: 599;
	cursor: pointer;
	color: #FFF;
	text-decoration: underline;
}

ul.dropdown ul {
	visibility: hidden;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 598;
	width: 950px;
	background-color: #E5E5E5;
	border-top-width: 3px;
	border-top-style: solid;
	border-top-color: #B2B2B2;
	height: 35px;
	margin-top: -1px;
}

ul.dropdown ul li {
	float: none;
}

ul.dropdown ul ul {
	top: 1px;
	left: 99%;
	color: #FFF;
}

ul.dropdown li:hover > ul {
	visibility: visible;
	color: #FFF;
}
.rtl li {
	margin-top: 10px !important;	
}
.rtl li a {
	color: #000 !important;
	background:none !important;
}
