@charset "UTF-8";

/**
 * Horizontal Linear CSS Drop-Down Menu Component
 *
 * @file		dropdown.linear.css
 * @package		Dropdown
 * @version		0.1.1
 * @type		Transitional
 * @requires	dropdown.css
 * @browsers	Windows: IE6+, Opera7+, Firefox3+
 *				Mac OS: Safari2+, Firefox3+
 *
 * @link		http://www.lwis.net/free-css-drop-down-menu
 * @copyright	2008-2012 Live Web Initiatives, http://www.lwis.net, http://www.lwis.net
 *
 */

@import "dropdown.css";

ul.dropdown-linear {
	width: 100%;
	color: #000;
}

ul.dropdown-linear ul li {
	float: left;
	color: #000;
}

ul.dropdown-linear li.hover,
ul.dropdown-linear li:hover {
	position: static;
	color: #FFF;
}

ul.dropdown-linear ul ul {
 display: none !important;
}
.rtl {
	margin-top: 8px !important;
	width: 942px !important;
	margin-left: 3px !important;
	-webkit-border-radius: 10px 10px 0px 0px !important;
	-moz-border-radius: 10px 10px 0px 0px !important;
	-ms-border-radius: 10px 10px 0px 0px !important;
	-o-border-radius: 10px 10px 0px 0px !important;
	border-radius: 0px 0px 5px 5px !important;
	cursor: default !important;
}
