
        
     <div id="content-infos"> <!-- content infos -->  
	   <div id="info-destaques-sistemas"> <!-- load info / destaques e sistemas -->
     		
            
            <div id="info-destaques">
            	<span class="destaque-title1">Destaques</span>
       		  <ul>
       		  	<?php foreach($this->destaques as $destaque) { ?>
            			<li>
            				<a href="<?php echo $this->baseUrl()."/noticia/".$destaque->id."/".Zend_Registry::get('local'); ?>">
            					<?php echo $this->getHelper('util')->limitString($destaque->titulo, 95); ?>
            				</a>
            			</li>
            	<?php } ?>
                    </ul>
                <span class="destaque-footer1"></span>
           </div>
           
           
           <div id="info-sistemas">
           	<h2 class="titlestyle2">Sistemas
			</h2>
           	
    <?php 
    $contador = 1;
	foreach($this->sistemas as $dados_sistema){
		if($contador <= 3){
    ?>    
                <div class="each-info-si"> <!-- cada box -->
	                <a href="<?php echo $dados_sistema['href'];?>" title="<?php echo $dados_sistema['title'];?>" target="_blank">
		                <div class="each-info-si-img">
		                	<img src="<?php echo '../../'.$dados_sistema['src']; ?>" width="77" height="50" /> 
		                </div>
		                
		                <span><?php echo $dados_sistema['nome_sistema'];?></span>
		                <p><?php echo $dados_sistema['descricao'];?></p>
	                </a>   	
                </div><!-- cada box -->    
 <?php 
 		}
		$contador++;
	}
	?> 
      
           	<?php if(count($this->sistemas) > 3){?>
			<div class="each-info-si"
				style="width: 300px; height: 15px; padding: 1px;">
				<!-- cada box -->
				<div style=" float: right; ">
					<a target="_parent" href="<?php echo $this->baseUrl()."/sistemas/".Zend_Registry::get('local'); ?>"
						title="<?php echo $dados_sistema['title'];?>" target="_blank">
						<div style="font-size: 10px; font-family: sans-serif; color: #404040; float: left; font-weight: bold; vertical-align: middle;">
							Ver Todos
						</div>
						<div style="float: right; height: 15px; padding: 1px; margin-right: 5px;">					
							<img
								src="<?php echo  $this->baseUrl()."/public/imagens/btn_lupa.png"; ?>"
								width="15" height="15" />
						</div>
					</a>
				</div>
			</div>
			<!-- cada box --> 
			<?php } ?>
           </div>
           
           
        
       </div> <!-- load info / destaques e sistemas -->
        
        
        <div id="info-apre-info">
            <div id="info-apre">
            <h2 class="titlestyle2">Apresentação</h2>
       		  <div class="apre-img">
                <img src="<?php echo '../../'.$this->dados_config['img_url'];?>" width="250" height="165" /> 
                <h4><?php echo $this->site->img_descricao;?></h4>
              </div>
            <p>
            	<?php echo $this->site->texto;?>
            </p>            
            </div>
            
            
            <div id="info-ata"> <!--informações e notícias -->
            	<div id="info-ff">
                	<h3 class="titlestyle3">Informes e Notícias</h3>
           		  <ul>	
           		  <?php 
           		  	foreach($this->noticias as $noticia) {
           		  ?>
           		  
                        	<li>
                            <a href="<?php echo $this->baseUrl()."/noticia/".$noticia->id."/".Zend_Registry::get('local'); ?>" title="<?php echo $noticia->titulo; ?>">
                            <span><?php echo $this->getHelper('util')->limitString($noticia->titulo, 95); ?></span>
                        	<p><?php echo $this->getHelper('util')->limitString($noticia->chamada, 95); ?></p>
                            </a>
                            </li>
				<?php 
				}
				?>
				<a href="<?php echo $this->baseUrl()."/noticia/list?unidade=".Zend_Registry::get('local'); ?>" title="Ver todas as novidades" class="vemais">Ver todas as novidades</a>
				
				</ul>                        
                        
                </div>
              
            
            
            </div> <!--informações e notícias -->
        
       
       <div id="carousel-banner"> <!-- carousel-ban -->
       
       <div class="destaque">
	    <button class="prev"></button>
	    <button class="next"></button>    
	    <div class="cursosDestaque">	    
		    <ul>  
		   		<?php  $max = sizeof($this->parceiros); 
		 if($max >1){		  		
			foreach($this->parceiros as $dados_destaque){    
		 ?>      
		        <li>
		         <a target="_blank" href="<?php echo $dados_destaque['href']; ?>"><img src="<?php echo '../../'.$dados_destaque['src']; ?>" alt="<?php echo $dados_destaque['alt']; ?>" width="122" height="72"></a>
		        </li>     
		  <?php } 
		 }
		 else {     		         		
			foreach($this->parceiros as $dados_destaque){    
		    ?>      		 
		         <a target="_blank" href="<?php echo $dados_destaque['href']; ?>"><img src="<?php echo '../../'.$dados_destaque['src']; ?>" alt="<?php echo $dados_destaque['alt']; ?>" width="122" height="72"></a>		     
		    <?php }?> 
		   <?php }?>          
		    </ul>
	    </div>
	   </div>
	       
       </div> <!-- carousel-ban --> 
        </div>
  
     </div>   <!-- content infos -->
  
 
 
  	<div class="crossedline">
    </div>
     
	<!-- content ends here -->