<div id="Content">
	<h1>Novidades</h1>
	<div id="noticias">
		<?php 
			if($this->noticias != null)
			{
				$c = true;
		?>
			
			<?php foreach ($this->noticias as $noticia) { ?>
				<div class="lista_noticias">
					<p <?php echo (($c = !$c)? '':'class="even"');?>>
						<span><?php echo (new Zend_Date($noticia->datahora, "dd/MM/yyyy HH:mm"));?></span> |
					<a href="<?php echo $this->baseUrl()."/noticia/".$noticia->id."/".Zend_Registry::get('local'); ?>">
						<span id="titulo">
							<?php echo $noticia->titulo; ?>
						</span>
						<br />
						<?php echo $this->getHelper('util')->limitString($noticia->chamada, 120);?>
					</a>
					
					</p>
				</div>
				
				
			<?php } ?>
			
			<div class="linhaDivisoriaPaginacao">
			<div class="page_navigation_cursos">			
			<?php echo $this->paginationControl($this->noticias, 'Sliding', 'noticia/pagination.phtml'); ?>
			</div>
			</div>
		<?php } ?>
	</div>
</div>