<div id="esquerda">
	<div id="caixaslaterais">
		<?php 
		if($this->secao->getSecoesInferiores() != null) {
	?>
		<?php
		foreach ($this->secoesEsquerda as $subsecao) {
	?>
		<div class="titulo">
			<?php echo $subsecao->getDescricao(); ?>
		</div>
		<div id="mais">

			<a
				href="<?php echo $this->baseUrl()."/secao/".$subsecao->getId()."/".$subsecao->getLocalidade(); ?>"
				target="_self"> <img
				src="<?php echo $this->baseUrl()?>/public/imagens/mais.jpg"
				alt="Mais" title="Mais">
			</a>
		</div>
		<?php 		
		 	}
		 	?>
		<?php 
		 }
		 ?>
	</div>
</div>
<div id="meio">
	<div class="titulocenter">
		<?php echo $this->secao->getDescricao(); ?>
	</div>
	<p>
		<?php echo $this->secao->getTexto(); ?>
	</p>
	<div id="barraleia"></div>
</div>

<div id="direita">
	<div id="caixaslaterais">
		<?php 
		if($this->secao->getSecoesInferiores() != null) {
	?>
		<?php
		foreach ($this->secoesDireita as $subsecao) {
	?>
		<div class="titulo">
			<?php echo $subsecao->getDescricao(); ?>
		</div>
		<div id="mais">

			<a
				href="<?php echo $this->baseUrl()."/secao/".$subsecao->getId()."/".$subsecao->getLocalidade(); ?>"
				target="_self"> <img
				src="<?php echo $this->baseUrl()?>/public/imagens/mais.jpg"
				alt="Mais" title="Mais">
			</a>
		</div>
		<?php 		
		 	}
		 	?>
		<?php 
		 }
		 ?>
	</div>
</div>

<div style='clear: both;'></div>

<div class="imageRow">
	<?php 
	$contador = 1;
	if(count($this->galeria_secao) > 0){ ?>

	<div class="set">
		<?php foreach($this->galeria_secao as $dados_galeria){ 
			if($contador == 1){
			$class = " first";
		}elseif($contador == count($this->galeria_secao)){
			$class = " last";
		}else{
			$class = "";
		}

		?>
		<div class="single<?php echo $class;?>">
			<a title="<?php echo $dados_galeria['nomeImagem'];?>"
				rel="lightbox[roadtrip]"
				href="<?php echo '/'.strtolower($this->secao->getLocalidade()).'/imagens/'.$dados_galeria['arquivo']; ?>">
				<img
				src="<?php echo '/'.strtolower($this->secao->getLocalidade()).'/imagens/'.$dados_galeria['arquivo']; ?>"
				alt="" width="100" />
			</a>
		</div>

		<?php 		}
		}?>
	</div>
</div>
