<div class="corpo-conteudo">
	<h1>Publicações</h1>
	<div class="form">
		<form action="" method="get">
			<fieldset>
				<legend>Buscar Publicação</legend>
				<p>
				<span>Buscar:</span> <input type="text" name="busca" value="<?php echo $this->busca; ?>" />
				<span>Buscar por:</span>
				
				<input type="radio" name="filtro" value="titulo" <?php echo ($this->filtro == '' || $this->filtro == 'titulo') ? 'checked="checked"' : ''; ?>> Títutlo	
				<input type="radio" name="filtro" value="resumo" <?php echo ($this->filtro == 'resumo') ? 'checked="checked"' : ''; ?>> Resumo 
				<input type="radio" name="filtro" value="autor" <?php echo ($this->filtro == 'autor') ? 'checked="checked"' : ''; ?>> Autor 
				<input type="radio" name="filtro" value="chave" <?php echo ($this->filtro == 'chave') ? 'checked="checked"' : ''; ?>> Palavra-Chave
				</p>
				
				<p>
				<span>Categoria:</span>
				<select name="categoria">
					<option value="">Todas as Categorias</option>
					<?php 
						foreach ($this->categorias as $categoria) {
					?>
						<option value="<?php echo $categoria->id; ?>" <?php echo ($this->idcategoria == $categoria->id) ? 'selected="selected"' : ''; ?>>
							<?php echo $categoria->descricao; ?>
						</option>
					<?php 
						}
					?>
				</select>
					<input type="submit" value="Buscar" />
				</p>
			</fieldset>
		</form>
	</div>
	<div class="resultado-busca">
		<?php 
			if($this->publicacoes != null) {
				foreach ($this->publicacoes as $publicacao) {
		?>
			<div id="publicacao">
				<p>
					<span id="titulo">
						<?php echo $publicacao->titulo; ?>
					</span>
				</p>
				<p>
					<span id="label">Autor:</span> <?php echo $publicacao->autor; ?>
				</p>
				<p>
					<span id="label">Categoria:</span> 
					<?php echo $publicacao->findParentRow("Application_Model_DbTable_CategoriaPublicacao")->descricao;?>
				</p>
				<p>
					<span id="label">Palavras-chave:</span>
					<?php echo $publicacao->chave; ?>
				</p>
				<p id="resumo">
				<strong>Resumo:</strong><br />
					<?php echo $publicacao->resumo; ?>
				</p>
				<p>
					<span id="label">Download:</span> 
					<a href="http://www.ufmt.br/ufmt/unidade/userfiles/publicacoes/<?php echo $publicacao->arquivo; ?>" target="_blank">
						Clique aqui para realizar o download
					</a>
				</p>
			</div>
		<?php 
				}
		?>
		<div class="pagination">
			<?php 
				echo $this->paginationControl($this->publicacoes, 'Sliding', 'publicacao/pagination.phtml');
			?>
		</div>
		<?php  
			}
		?>
	</div>
</div>