<div id="meio">
	<div class="titulocenter">Sistemas</div>
	<div id="barraleia"></div>

	<?php     
	foreach($this->sistemas as $dados_sistema){
    ?>
	<div class="each-info-si">
		<!-- cada box -->
		<a href="<?php echo $dados_sistema['href'];?>"
			title="<?php echo $dados_sistema['title'];?>" target="_blank">
			<div class="each-info-si-img">
				<img src="<?php echo '../../'.$dados_sistema['src']; ?>" width="77"
					height="50" />
			</div> 
			<span>
				<?php echo $dados_sistema['nome_sistema'];?>
			</span>
			<p>
				<?php echo $dados_sistema['descricao'];?>
			</p>
		</a>
	</div>
	<!-- cada box -->
	<?php } ?>
</div>
