<div id="meio">
	<h1>Sistemas</h1>
	<div style="border-bottom: dashed #CCC 1px; margin-bottom: 10px;"></div>

	<?php     
	foreach($this->sistemas as $dados_sistema){
    ?>
	<div class="sistema-info-grupo">
		<!-- cada box -->
			<div style="float: left;height: 50px;width: 77px;">
				<img src="<?php echo '../../../'.$dados_sistema['src']; ?>" width="77"
					height="50" />
			</div> 			
			<div class="sistema-info-titulo">
				<?php echo $dados_sistema['nome_sistema'];?>
			</div>
			<div class="sistema-info-descricao">
				<?php echo $dados_sistema['descricao'];?>
			</div>
			<div class="sistema-info-link"><a target="_blank" href="<?php echo $dados_sistema['href'];?>">Acessar</a></div>
	</div>
	<div style="clear: both;"></div>
	<!-- cada box -->
	<?php } ?>
</div>
