
<div id="footer-align"><!-- footer align --> 
	<div id="footer">
     
    	<div class="animated-ftdraw">
        <!-- animated gif bg -->
        </div>
    
	<div class="cred-info">
        <?php echo $this->info(Zend_Registry::get('local'))->rodape;?>        
    </div>
	</div>
</div><!-- footer align -->  