<div id="header-logoid">
       <a  href="<?php echo $this->baseUrl()."/".Zend_Registry::get('local') ?>">
       <img src="<?php echo $this->baseUrl(); ?>/public/imagens/ufmt_logo.png" width="146" height="145" /> 
       <p>Universidade Federal de Mato Grosso - <strong><?php echo $this->campus($this->info(Zend_Registry::get('local'))->campusUID)->descricao; ?></strong></p>
       <span><?php echo $this->info(Zend_Registry::get('local'))->nome; ?></span>
       </a>
       </div> 
       