<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="A Universidade Federal de Mato Grosso (UFMT) ocupa lugar de destaque entre as instituições federais de ensino superior do país. A UFMT é responsável pela maior produção científica no Estado, integrando redes nacionais e internacionais de investigação." />
<meta name="keywords" content="ufmt, universidade federal, cuiaba, mato grosso, rondonopolis, araguaia, sinop, cursos, pos graduacao, mestrado, doutorado, sistemas" />
<meta name="author" content="Secretaria de Tecnologia da Informação" />
<title>Portal da Universidade Federal de Mato Grosso - UFMT</title>

<!--  F A V I C O N -->
<link rel="shortcut icon" type="image/x-icon" href="<?php echo $this->baseUrl(); ?>/public/imagens/favicon.png">
<!--  F A V I C O N -->

<!-- styles -->
<link href="<?php echo $this->baseUrl(); ?>/public/estilo/barraGovFederal.css" rel="stylesheet" type="text/css"/>
<link href="<?php echo $this->baseUrl(); ?>/public/estilo/principal.css" rel="stylesheet" type="text/css" />
 <link href="<?php echo $this->baseUrl(); ?>/public/estilo/destaqueCursos.css" rel="stylesheet" type="text/css" /> 
<link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl();?>/public/css/lightbox.css" media="screen" />
<link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl();?>/public/css/screen.css" media="screen" />

<link href="<?php echo $this->baseUrl(); ?>/public/estilo/dropdown/dropdown.linear.css" media="screen" rel="stylesheet" type="text/css" />
<?php echo $this->cssHelper($this->cssfilename) ?>  
<!-- styles -->


<!-- jquery biblioteca -->
<script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/public/js/jquery-1.7.2.min.js"></script>
<!-- jquery biblioteca -->

<!-- GALERIA -->

<!-- GALERIA -->
<!-- JS -->
<script src="<?php echo $this->baseUrl(); ?>/public/js/swfobject_modified.js" type="text/javascript"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/public/js/jcarousellite_1.0.1.min.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/public/js/jcarousellite-script-inside.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/public/js/zoom.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl();?>/public/js/lightbox.js"></script>
<!-- JS -->

</head>
<body>

<div id="barra-brasil" style="background:#7F7F7F; height: 20px; padding:0 0 0 10px;display:block;"> 
	<ul id="menu-barra-temp" style="list-style:none;">
		<li style="display:inline; float:left;padding-right:10px; margin-right:10px; border-right:1px solid #EDEDED"><a href="http://brasil.gov.br" style="font-family:sans,sans-serif; text-decoration:none; color:white;">Portal do Governo Brasileiro</a></li> 
		<li><a style="font-family:sans,sans-serif; text-decoration:none; color:white;" href="http://epwg.governoeletronico.gov.br/barra/atualize.html">Atualize sua Barra de Governo</a></li>
	</ul>
</div>

<div id="header-align">
	<div id="header">
		<div id="bg-controle-top">
<div id="controle-campselect">
<form method="post">
<select class="align-select" name="campus">
<option>Escolha seu Campus</option>
<option value="http://www.ufmt.br/ufmt/site/page/index/Cuiaba">Cuiabá</option>
<option value="http://www.ufmt.br/araguaia/">Araguaia</option>
<option value="http://www.ufmt.br/ufmt/site/page/index/Rondonopolis">Rondonópolis</option>
<option value="http://www.ufmt.br/ufmt/site/page/index/Sinop">Sinop</option>
<option value="http://www.ufmt.br/ufmt/site/page/index/JulioMuller">Hospital Júlio Müller</option>
</select>  
</form>
</div>


<div id="controle-acess">            
	<div class="control-fonts">
    
    
        
    <a id="aumenta_fonte" href="#">
    <img title="Aumentar Fonte" alt="Aumentar Fonte" src="<?php echo $this->baseUrl(); ?>/public/imagens/btn_A+.png">
    </a>
    
    <a id="reduz_fonte" href="#">
    <img title="Diminuir Fonte" alt="Diminuir Fonte" src="<?php echo $this->baseUrl(); ?>/public/imagens/btnA-.png">
    </a>
    </div>
    
    <div class="control-langs">
    	<span>Idiomas ></span>
        
<a href="/ufmt/site/page/setIdioma/portugues/Cuiaba"> <img width="16" height="12" alt="Português" src="<?php echo $this->baseUrl(); ?>/public/imagens/ic_idioma_brasil.png"></a> 

<a href="/ufmt/site/page/setIdioma/ingles/Cuiaba"><img width="16" height="12" title="English" alt="English" src="<?php echo $this->baseUrl(); ?>/public/imagens/ic_idioma_ingles.png"></a> 

<a href="/ufmt/site/page/setIdioma/espanhol/Cuiaba"> <img width="16" height="12" title="Espanhol" alt="Espanol" src="<?php echo $this->baseUrl(); ?>/public/imagens/ic_idioma_espenhol.png"> </a>
   
    </div>

</div>
        
        </div>
        
        
       <?php echo $this->render('info.phtml'); ?>
       
<div id="header-slidertop">
  <embed width="340" height="150" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" quality="high" wmode="transparent" src="<?php echo $this->baseUrl(); ?>/public/imagens/mosaic.swf">
</div>
        
    
	</div>
</div>

<!-- content starts here -->
<div id="content-align">
	<div id="content">
		    
       <?php  echo $this->render('menu.phtml'); ?>
            
       <?php echo $this->layout()->content; ?>   
	</div>
</div>
    <?php echo $this->render('footer.phtml'); ?>
<!-- content-align ends here -->
<script src="//barra.brasil.gov.br/barra.js" type="text/javascript"></script>
</body>
</html>
