	<div id="content-tabs-menu">
            	<div id="content-portal">
                	<div id="first-menu-portal">
                    	<a class="inicio" href="http://www.ufmt.br" title="Inicio"></a>
                        <a class="webmail" href="https://cpd.ufmt.br/cgi-bin/openwebmail/openwebmail.pl" target="_blank" title="Webmail"></a>
                    </div>
                
                	<div id="second-menu-portal">
                        <form action="" method="get">
                        	<ul>
	<li><a href="http://www.ufmt.br/ufmt/site/perfil/aluno/Cuiaba/graduacao"><img alt="Aluno" src="<?php echo $this->baseUrl(); ?>/public/imagens/btn_aluno.png"></a></li>

	<li><a href="http://www.ufmt.br/ufmt/site/perfil/professor/Cuiaba"><img alt="Professor" src="<?php echo $this->baseUrl(); ?>/public/imagens/btn_professor.png"></a></li>

	<li><a href="http://www.ufmt.br/ufmt/site/perfil/servidor/Cuiaba/"><img alt="Servidor" src="<?php echo $this->baseUrl(); ?>/public/imagens/btn_servidor.png"></a></li>

	<li id="trans" class="noBg"><a href="#"><img alt="Transparência" class="" src="<?php echo $this->baseUrl(); ?>/public/imagens/btn_transparencia.png"></a><span style="display: none; position: absolute; top: -28px; right: 327px"><a href="#"><img border="0" usemap="#Map" src="/ufmt/site/media/estilo/images/trans_proposta.png"><map id="Map" name="Map"><area target="_blank" href="http://www.portaldatransparencia.gov.br/" coords="73,3,130,19" shape="rect">
		<area target="_self" href="#" coords="4,4,60,20" shape="rect"></map></a></span></li>
</ul>
                        
                        </form>
                    </div>
                    
                    <div id="third-menu-portal">
                  <form action="" method="get">
                    <input type="text" placeholder="Buscar" name="buscar" class="search_text">	
                    <button title="Buscar" class="search_btn">Buscar</button>
                  </form>  
                  </div>
                	
                </div>


<div id="menu-principal"><!-- starts menu content -->
           	<ul id="nav" class="dropdown dropdown-linear">	
		<?php
		if ($this->menu('sti') != null) {
		 	foreach ($this->menu('sti') as $item) {
		?>
			<li><a href="<?php echo $this->baseUrl()."/secao/".$item->getId()."/".$item->getLocalidade(); ?>"><?php echo $item->getDescricao(); ?></a>
			<?php 
				if($item->getSecoesInferiores() != null) {
			?>
			<ul class="rtl">
				<?php 				
					foreach ($item->getSecoesInferiores() as $subitem) {

					if($subitem->getExterno() == 'n') {
				?>
					<li class="dir"><a href="<?php echo $this->baseUrl()."/secao/".$subitem->getId()."/".$subitem->getLocalidade(); ?>"><?php echo $subitem->getDescricao();?></a></li>					
	            <?php 
	            	} else {
				?>
					<li class="dir"><a href="<?php echo $subitem->getLinkExterno(); ?>"><?php echo $subitem->getDescricao();?></a></li>
				<?php 
					}
	            }
	            ?>
			</ul>
			<?php 
				}
			?>			
			</li>
		<?php 
		}}
		?>	
		
		<li><a href="<?php echo $this->baseUrl()."/publicacao/".Zend_Registry::get('local'); ?>">Publicações</a></li>
	    <li><a href="<?php echo $this->baseUrl()."/contato/".Zend_Registry::get('local'); ?>">Contato</a></li>		
		</ul>
            </div><!-- ends menu content -->
</div>