<h1>Contato</h1>
<div id="contentBoxText">

<?php 
if(isset($this->mensagem)) {
?>
	<div id="mensagem">
		<?php echo $this->mensagem;?>
	</div>
<?php 
}
?>

<?php 
if(isset($this->sucesso)) {
?>
	<div id="sucesso">
		<?php echo $this->sucesso;?>
	</div>
<?php 
}
?>
	
	<div id="formulario">
		<form action="<?php echo $this->baseUrl(); ?>/contato/enviar/unidade/<?php echo Zend_Registry::get('local')?>" method="post">
			<p>
				Destinatário:
			</p>
			<p>			
				<select name="destinatario">
					<option>Selecione</option>
					<?php 
						if($this->destinatarios != null) {
							foreach ($this->destinatarios as $dest) {
					?>
						<option value="<?php echo $dest->email; ?>"><?php echo $dest->descricao; ?></option>
					<?php 
						}
					}
					?>
				</select>
			</p>
			<p>
				Seu Nome:
			</p>
			<p>
				<input type="text" name="nome" />				
			</p>
			<p>Seu e-mail:</p>
			<p>
				<input type="text" name="email" />
			</p>
			<p>Mensagem:</p>
			<p>
				<textarea rows="6" cols="40" name="mensagem"></textarea>
			</p>
			<p>
			</p>
			<label><span>Digite os caracteres abaixo:</span>
	        <input type="text" name="captcha_code" autocomplete="off" size="10" maxlength="6" />
	        </label>
	        
	        <img id="captcha" src="<?php echo $this->baseUrl(); ?>/public/securimage/securimage_show.php" alt="CAPTCHA" /> 
	        
			<a href="#" onclick="document.getElementById('captcha').src = '<?php echo $this->baseUrl(); ?>/public/securimage/securimage_show.php?' + Math.random(); return false">
			[ Nova Imagem ]</a>
			<p>
				<input type="submit" value="Enviar" name="submit" />
			</p>
		</form>
	</div>
	<div id="infocontatos">
	<?php echo $this->unidade->infocontatos; ?>
	</div>
</div>