/* 
    Document   : barraGovFederal
    Created on : 11/09/2012, 08:44:46
    Author     : Bruno Abdalla
    Description:
        Purpose of the stylesheet follows.
*/

#barra-brasil { 
    position:relative;
    overflow:hidden;
    min-width:1000px;
    background: #00500F url(../imagens/barraGovFederal/barra-brasil-v3-bgx.png) center bottom no-repeat;
}

#barra-brasil .barra {
	display: block;
	width: 970px;
	height: 28px;
	background: url(../imagens/barraGovFederal/barra-brasil-v3-bgx.gif) 0 bottom repeat-x;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}

#barra-brasil .barra ul {
    float:right;
    width: 319px;
    list-style: none;
    margin: 0px;
}

#barra-brasil .barra ul li {
    float: left;
    padding-left: 25px;
}

#barra-brasil .ai {
    display: block;
    width: 161px;
    height: 28px;
    text-indent: -1000px;
    background: #00500F url(../imagens/barraGovFederal/ai.png) no-repeat 0 4px;
}

#barra-brasil .brasilgov {
    display: block;
    width: 108px;
    height: 28px;
    text-indent: -1200px;
    background: #00500F url(../imagens/barraGovFederal/brasil.png) no-repeat -7px 4px;
}
