
.destaque{
	display: table;
	width: 617px;
	margin-top: 2px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
}
.cursosDestaque{
	height: 90px;
	padding: 5px;
	opacity: 0.85;
	width: 550px !important;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 0;
	float: left;

}
.cursosDestaque li{
	height: 72px;
	width: 122px !important;
	margin-left: 8px;
	margin-right: 8px;
	margin-top: 3px;
}

.prev{
	border: none;
	float: left;
	display: table;
	width: 26px;
	height: 33px;
	margin-top: 30px;
	margin-bottom: 0px;
	margin-left: 0px;
	background-image: url(../imagens/carousel-btn-left.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	cursor: pointer;
	background-color: #FFF;
}
.prev:hover{
	background-image: url(../imagens/carousel-btn-left.png);
	background-position: 0px -40px;
}

.prev:active{
	background-image: url(../imagens/carousel-btn-left.png);
	background-position: 0px -39px;
}
.next{
	border: none;
	padding: 0;
	float: right;
	display: table;
	width: 26px;
	height: 33px;
	margin-top: 33px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	background-image: url(../imagens/carousel-btn-right.png);
	background-repeat: no-repeat;
	background-position: 0px -3px;
	cursor: pointer;
	background-color: #EFF7E0;
}
.next:hover{
	background-image: url(../imagens/carousel-btn-right.png);
	background-repeat: no-repeat;
	background-position: 0px -43px;
}

.next:active{
	background-image: url(../imagens/carousel-btn-right.png);
	background-repeat: no-repeat;
	background-position: 0px -42px;
}
.legenda{
	text-align: center;
	z-index: 5;
	width: 170px;
	height: 35px;
	background-color: #333333;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}