
#corpo {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	color: #000;
	width: 776px;
	padding: 12px;
	position: relative;
	float: left;
}

#esquerda {
	width: 150px;
	position: relative;
	float: left;
	font-family: Verdana, Geneva, sans-serif;
	color: #666;
	font-size: 11px;
}

#caixaslaterais {
	padding-bottom: 14px;
	border-bottom: dashed #CCC 1px;
	margin-bottom: 5px;
}

#meio {
	width: 416px;
	position: relative;
	float: left;
	margin-left: 23px;
	margin-right: 23px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 11px;
	color: #666;
	margin-bottom: 10px;
}

#meio img {
	margin-bottom: 10px;
}

#direita {
	width: 150px;
	position: relative;
	float: left;
	padding: 0;
	font-family: Verdana, Geneva, sans-serif;
	color: #666;
	font-size: 11px;
}


#mais img {
	position: relative;
	padding-top: 8px;
	width: 30px;
	left: 120px;
	border: 0;
}

#breadcrumb {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	margin-left:40px;
	margin-bottom:10px;
	font-size:11px;
	color:#0099ff;
}
#breadcrumb a {
	text-decoration:none;
	color:#0099ff;
}
#breadcrumb ul li {
	display:inline;
}

strong, h1, h2, h3, h4 {
	font-weight:700
}

.titulo {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 19px;
	color: #528dab;
	font-weight: normal;
	text-align:center;	
}
.titulocenter {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 25px;
	color: #528dab;
	position: relative;
	float: left;
	text-align: center;
	font-weight: normal;
	width: 416px;
	margin-bottom: 5px;
}

.menuPortais ul {
      list-style-type:none;
      display:block;
      margin:0 0 0 300px;
      padding:0 40px 0 0;
}
.menuPortais ul li {
	float:left;
	display:inline;
	background:url(../coordenacao_files/images/div_vert_alun_prof_tec.png) no-repeat right 0;
	margin:0 0 0 12px;
	padding:0 18px 0 0
}


#estrutura {
	text-align:center;
	color: #000;
	font-size:12px;
	font-family:Verdana, Geneva, sans-serif;
}
/* MENU CIRCULAR */
/* inicio do conteudo do meio*/ /* lado esquerdo*/
#corpo {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	color: #000;
	width:925px;
	position: relative;
	float: left;	
}

#esquerda {
	width: 150px;
	position: relative;
	margin-left:-10px;
	float: left;
	font-family: Verdana, Geneva, sans-serif;
	color: #666;
	font-size: 11px;
}

#caixaslaterais {
	padding-bottom: 14px;
	border-bottom: dashed #CCC 1px;
	margin-bottom: 5px;
}

#meio {
	width: 560px;
	position: relative;
	float: left;	
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 11px;
	color: #666;
	margin-bottom: 10px;
	text-align: justify;
	padding-left:20px;
	
	
}

#meioimg {
	margin-bottom: 10px;
}

#barraleia {
	position: relative;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	color: #666;
	float: left;
	height: 20px;
	margin-top: 16px;
	background-image: url(../coordenacao_files/images/bggraybar.jpg);
	font-weight: bold;
	width: 100%;
}

#data {
	position: relative;
	padding-top: 2px;
	float: left;
	padding-left: 4px;
}

#leiamais {
	position: relative;
	float: right;
	padding-top: 2px;
	padding-right: 4px;
}

#barraleia a:link {
	text-decoration: none;
	color: #666;
}

#barraleia a:hover {
	color: #039;
	text-decoration: underline;
}

#direita {
	width: 150px;
	position: relative;
	padding: 0;
	font-family: Verdana, Geneva, sans-serif;
	color: #666;
	font-size: 11px;
}

.titulo {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 19px;
	color: #528dab;
	font-weight: normal;
	text-align:center;	
}

.titulocenter {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 25px;
	color: #528dab;
	position: relative;	
	text-align: center;
	font-weight: normal;
	width: 100%;
	margin-bottom: 5px;
}

#mais img {
	position: relative;
	padding-top: 8px;
	width: 30px;
	left: 120px;
	border: 0;
}