#corpo {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	color: #000;
	width: 900px;
	position: relative;
	float: left;	
}

#meio {
	width: 900px;
	position: relative;
	float: left;	
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 11px;
	color: #666;
	margin-bottom: 10px;
	text-align: justify;
	padding-left:20px;
	
}

#meioimg {
	margin-bottom: 10px;
}


.titulocenter {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 25px;
	color: #528dab;
	position: relative;	
	text-align: left;
	font-weight: normal;
	width: 100%;
	margin-bottom: 5px;
}
