/* ESTILOS PAGINA DE NOTICIAS */

div#noticias {
	width:864px;
	margin:20px 34px 10px 40px;
	float:left;
}
div#text_noticia {
	margin:0 0 20px 0;
}
div.noticias h1 {
	font-size:22px;
	color:#003366;
	margin:0 0 22px 0;
}
div.noticias {
	text-align:justify;
}
div#text_noticia p {
	color:#333333;
	font-size:80%;
	letter-spacing:-0.02em;
	line-height:1.3em;
	padding-bottom:1.5em;
}
div#text_noticia p:first-child:first-letter {
	font-size : 400%;
	float : left;
	width : 1em;
	padding:5px 5px 0 0;
}
div#controles_noticia {
	padding:20px 0;
}
span.imprimir {
	margin:0 23px 0 0;
}
span.enviar {
	margin:0 23px 0 0;
}
span.link {
	background:url(images/bg_link.jpg) no-repeat 0 -7px;
	padding:0 0 0 55px;
	margin-bottom:10px;
}
span.link label {
	height:30px;
}
span.link input {
	width:200px;
	font-size:11px;
	position:relative;
	top:-3px;
}
span.share {
	float:right;
	padding:6px 0 0 0;
	font-size:11px;
	width:150px;
}
.cat_date_not {
	font-size:11px;
	color:#900;
	margin:5px 0;
}
div.ultimas_noticias {
	margin:30px 0 30px 0;
}


div.lista_noticias p {
	padding:1px 8px;
	font-size:12px;
}
div.lista_noticias span {
	color:#900;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px;
}

div.lista_noticias a {	
	text-decoration: none;
	color:#666;
}

div.lista_noticias span#titulo {
	color:#333;
	font-size:13px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
p.even {
	background-color:#DDDDDD;
}