@charset "utf-8";
body {
	margin: 0px;
	background-image: url(../imagens/bg_body.png);
	background-repeat: repeat-x;
}
img {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}

#header-align {
	clear: both;
	height: 185px;
	width: auto;
}
#header {
	clear: both;
	height: 185px;
	width: 970px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#header #bg-controle-top {
	clear: both;
	height: 30px;
	width: 970px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	background-image: url(../imagens/bg_controle_topo.jpg);
	background-repeat: no-repeat;
}
#controle-campselect {
	float: left;
	height: 30px;
	width: 500px;
}
.align-select {
	float: right;
	margin-top: 5px;
}
#controle-acess {
	float: right;
	height: 30px;
	width: 215px;
}
.control-fonts {
	float: left;
	height: 30px;
	width: 50px;
}
.control-fonts img {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	float: left;
	margin-top: 5px;
	margin-right: 2px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.control-langs {
	float: right;
	height: 30px;
	width: 145px;
}
.control-langs span {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFF;
	text-decoration: none;
	display: block;
	float: left;
	margin-top: 8px;
	margin-right: 5px;
}
.control-langs img {
	margin-top: 9px;
}
#header-logoid {
	float: left;
	height: 145px;
	width: 520px;
	padding-left: 40px;
	margin-top: 5px;
}
#header-logoid img {
	float: left;
}

#header-logoid span {
	color: #232323;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-size: 20px;
	display: block;
	float: left;
	width: 350px;
	margin-top: 0px;
	margin-left: 5px;
	line-height: 20px;
	font-weight: bold;
	text-shadow: 1px 2px 1px #C3CAC7;
}
#header-logoid p {
	font-size: 13px;
	color: #000;
	display: block;
	float: left;
	margin-top: 40px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 5px;
	font-family: Arial, Helvetica, sans-serif;
}

#header-logoid a {
	float: left;
	height: 145px;
	width: 520px;
	display: block;
}
#header-slidertop {
	float: right;
	height: 150px;
	width: 345px;
	margin-top: 3px;
}
#content-align {
	clear: both;
	width: auto;
	height: auto;
}
#content {
	clear: both;
	height: auto;
	width: 950px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	background-color: #FFF;
	padding-top: 2px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	min-height: 500px;
	overflow:auto;

}
#content-tabs-menu {
	width: 950px;
	clear: both;
}
#content-portal {
	background-image: url(../imagens/bg_menu_portais.jpg);
	height: 32px;
	width: 950px;
	background-repeat: no-repeat;
}
#first-menu-portal {
	float: left;
	height: 30px;
	width: 200px;
}
#second-menu-portal {
	width: 300px;
	float: left;
	height: 30px;
	margin-left: 80px;
}
#third-menu-portal {
	float: right;
	width: 170px;
	padding-top: 7px;
}
#first-menu-portal .inicio {
	float: left;
	height: 22px;
	width: 65px;
	display: block;
	background-image: url(../imagens/btn_inicio.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	margin-top: 7px;
	margin-left: 13px;
}
#first-menu-portal .inicio:hover {
	background-image: url(../imagens/btn_inicio.png);
	background-repeat: no-repeat;
	background-position: 0px -22px;
}
#first-menu-portal .webmail {
	float: left;
	height: 22px;
	width: 81px;
	display: block;
	background-image: url(../imagens/btn_webmail.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	margin-top: 4px;
	margin-left: 13px;
}
#first-menu-portal .webmail:hover {
	background-image: url(../imagens/btn_webmail.png);
	background-repeat: no-repeat;
	background-position: 0px -23px;
}
#second-menu-portal ul {
	float: left;
	margin-top: 3px;
	margin-left: -20px;
}
#second-menu-portal li {
	display: inline;
	margin-left: 15px;
}
#third-menu-portal .search_text{
	color: #000000;
	font-size: 11px;
	margin: 0;
	width: 105px;
	background-image: url(../imagens/bginputsearch.png);
	background-repeat: no-repeat;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-color: transparent;
	padding-top: 3px;
	padding-right: 8px;
	padding-bottom: 3px;
	padding-left: 8px;
	float: left;
}
#third-menu-portal .search_text:hover, #third-menu-portal .search_text:focus {
	background-image: url(../imagens/bginputsearchhover.png);
	background-repeat: no-repeat;
}
#third-menu-portal .search_btn {
	background-image: url(../imagens/btn_lupa.png);
	display: block;
	height: 19px;
	width: 22px;
	float: left;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	cursor: pointer;
	text-indent: -999em;
	background-color:transparent;
}
#menu-principal {
	clear: both;
	height: 75px;
	width: 950px;
	background-image: url(../imagens/bg_menu.png);
	background-repeat: no-repeat;
	margin-top: 1px;
}
#menu-principal ul {
	float: left;
	margin-top: 10px;
	margin-left: 0px;
	display: block;
}
#menu-principal li {
	display: inline;
	margin-left: 2px;
}
#menu-principal li a {
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	background-repeat: no-repeat;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	background-image: url(../imagens/div_menu.png);
	background-position: 0px 5px;
	padding-right: 0px;
	font-size: 12px;
}
#menu-principal li a:hover {
	text-decoration: underline;
}
#content-infos {
	height: auto;
	width: 950px;
	clear: both;
	overflow: auto;
}
#info-destaques-sistemas {
	float: left;
	width: 305px;
	height: auto;
}
#info-destaques {
	width: 305px;
	float: left;
	background-color: #00328C;
}

.destaque-title1 {
	background-image: url(../imagens/destaque-title.jpg);
	background-repeat: no-repeat;
	height: 40px;
	width: 295px;
	display: block;
	font-size: 26px;
	color: #E3E7F2;
	font-family: Arial, Helvetica, sans-serif;
	font-style: italic;
	padding-top: 10px;
	padding-left: 10px;
}
.destaque-footer1 {
	background-image: url(../imagens/destaque-footer.jpg);
	background-repeat: no-repeat;
	height: 33px;
	width: 305px;
	display: block;
	font-size: 26px;
	color: #E3E7F2;
	font-family: Arial, Helvetica, sans-serif;
	font-style: italic;
}



#info-apre-info {
	float: left;
	width: 630px;
	margin-left: 15px;
}
#info-destaques ul {
	margin-left: -30px;
	margin-top: 8px;
	margin-bottom: 8px;
}
#info-destaques li {
	list-style-type: none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #0069B3;
	width: 282px;
}
#info-destaques li a {
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	text-decoration: none;
	display: block;
	padding-bottom: 7px;
	padding-top: 6px;
}
#info-destaques li a:hover {
	text-decoration: underline;
}

#info-sistemas {
	width: 305px;
	float: left;
	margin-top: 10px;
}
.titlestyle2 {
	color: #003B99;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #BDBDBD;
	padding-bottom: 5px;
	padding-left: 7px;
	font-smooth: auto;
	display: block;
	margin-top: 5px;
	margin-bottom: 3px;
}
.titlestyle3 {
	color: #003B99;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 19px;
	font-weight: normal;
	display: block;
	padding-left: 10px;
	margin-top: 8px;
	margin-bottom: 5px;
}

.each-info-si {
	float: left;
	width: 295px;
	padding: 5px;
	background-color: #EFEFEF;
	border-radius: 8px;
	margin-top: 3px;
	margin-bottom: 3px;
}
.each-info-si-img {
	float: left;
	height: 50px;
	width: 77px;
}
.each-info-si span {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-transform: uppercase;
	color: #006699;
	text-decoration: none;
	font-weight: bold;
	display: block;
	float: right;
	width: 205px;
	margin-bottom: 0px;
}
.each-info-si p {
	display: block;
	float: right;
	width: 205px;
	margin-top: 0px;
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.7em;
	margin-bottom: 0px;
}
.each-info-si p:hover {
	text-decoration: underline;
}

#info-apre {
	float: left;
	width: 625px;
}
#info-apre p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	color: #666;
	display: block;
	margin-top: 8px;
	margin-bottom: 8px;
	padding-left: 7px;
	text-align: justify;
}
#info-ata {
	float: left;
	width: 630px;
	margin-top: 8px;
}
#info-ff {
	float: left;
	height: 240px;
	width: 618px;
	background-color: #EEEEEE;
	-moz-box-shadow: 3px 3px 3px 3px #ccc;
	-webkit-box-shadow: 3px 3px 5px 6px #ccc;
	box-shadow: 0px 0px 5px 1px #ccc;
	border: 1px solid #FFF;
}


#info-ff ul {
	float: left;
	margin-left: -30px;
	width: 0px;
}
#info-ff li {
	list-style-type: none;
	width: 600px;
	margin-bottom: 10px;
	
}
#info-ff li span {
	color: #878787;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	display: block;
	margin-bottom: 2px;
}

#info-ff li p {
	color: #292929;
	font-size: 0.8em;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	display: block;
	margin-top: 0px;
	margin-bottom: 0px;
}
#info-ff li p:hover {
	text-decoration: underline;
}
#info-ff li a {
	text-decoration: none;
}
#info-atalhos {
	float: right;
	height: 240px;
	width: 255px;
	background-color: #EEEEEE;
	-moz-box-shadow: 3px 3px 3px 3px #ccc;
	-webkit-box-shadow: 3px 3px 5px 6px #ccc;
	box-shadow: 0px 0px 5px 1px #ccc;
	border: 1px solid #FFF;
	margin-left: 20px;
	margin-right: 10px;
}
#info-atalhos ul {
	float: left;
	margin-left: -38px;
	margin-top: 3px;
	display: block;
}
#info-atalhos li {
	list-style-type: none;
}
#info-atalhos li a {
	display: block;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 8px;
	color: #292929;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	text-decoration: none;
	width: 242px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C0C0C0;
}
#info-atalhos li a:hover {
	text-decoration: underline;
}
.vemais {
	float: left;
	width: 580px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #003B98;
	text-align: right;
	margin-top: -5px;
}
.vemais a {
	color: #003B98;
	text-decoration: underline;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	float: right;
	width: 150px;
	background-color: #333;
}
#carousel-banner {
	float: left;
	height: 100px;
	width: 617px;
	background-color: #EEEEEE;
	-moz-box-shadow: 3px 3px 3px 3px #ccc;
	-webkit-box-shadow: 3px 3px 5px 6px #ccc;
	box-shadow: 0px 0px 5px 1px #ccc;
	border: 1px solid #FFF;
	margin-top: 15px;
	margin-bottom: 10px;
	border-radius: 9px;
}
.crossedline {
	background-color: #000000;
	height: 2px;
	width: 940px;
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
}
#footer {
	clear: both;
	height: 195px;
	width: 950px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#footer-align {
	clear: both;
	height: 195px;
	width: auto;
	background-image: url(../imagens/footer-line-bg.jpg);
	background-repeat: repeat-x;
}
.animated-ftdraw {
	clear: both;
	height: 103px;
	width: 972px;
	margin-top: 6px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	background-image: url(../imagens/rodape_animado.gif);
	background-repeat: no-repeat;
	float: left;
}
.cred-info {
	width: 500px;
	margin-top: -20px;
	margin-right: auto;
	margin-bottom: -40px;
	margin-left: 250px;
	height: 50px;
	float: left;
}
.cred-info p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333;
	text-align: center;
	display: block;
	margin: 0px;
}
.apre-img {
	float: left;
	height: auto;
	width: 250px;
	margin-right: 5px;
	margin-bottom: 2px;
	margin-top: 8px;
}
.apre-img h4 {
	background-color: #E1E1E1;
	margin: 0px;
	width: 240px;
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #333;
	text-decoration: none;
	font-weight: normal;
}

h1 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 25px;
	color: #528dab;
	position: relative;	
	text-align: left;
	font-weight: normal;
	width: 100%;
	margin-bottom: 5px;
}

.pagination {
	text-align: center;
	margin-top: 15px;
	margin-bottom: 40px;
	font-size: 12px;
	font-family: arial;	
}

.sistema-info-grupo{	
	float: left;
	width: 600px;
	padding: 5px;
	margin-top: 3px;
	margin-bottom: 3px;
}

.sistema-info-titulo{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-transform: uppercase;
	color: #006699;
	text-decoration: none;
	font-weight: bold;
	display: block;
	float: right;
	width: 500px;
	margin-bottom: 0px;
}

.sistema-info-descricao{
	display: block;	
	float: right;	
	width: 500px;	
	margin-top: 0px;	
	color: #666666;	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.7em;	
	margin-bottom: 0px;
}

.sistema-info-link{
	margin-top: 5px;
	margin-left: 22px;
	display: block;	
	float: left;		
	color: #006699;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.7em;	
}


