.corpo-conteudo {
	font-family: arial;
	font-size: 12px;	
}
fieldset {
	border: 1px solid #004B9C;
	width: 900px;
}

fieldset legend {
	font-weight: bold;
}

.form {
	margin-top: 15px;
}

.form span {
	font-weight: bold;
}

.resultado-busca {
	margin-top: 20px;
	width: 860px;
	padding-left: 10px;
}

.resultado-busca #publicacao {
	border-bottom: 1px dotted #0099CC;
}

.resultado-busca #publicacao #titulo {
	font-size: 14px;
	font-weight: bold;	
}
.resultado-busca #publicacao #label {
	font-weight: bold;
}
.resultado-busca #publicacao #resumo {
	text-align: justify;
}